/* basic page styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url("img/space-bg.png") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.disable-text-selection {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.max-width {
  width: 100%;
}
.invalid-val {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 1em;
  color: #dc3545;
}

.bg-fb-blue {
  background-color: #0071bc;
}

.bg-lightblue {
  background-color: #e3f2fd;
}

.scroll-top-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  position: fixed;
  left: 95%;
  bottom: 50px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  color: #fff;
}

/* header styles */

/* rest items */
.search-btn {
  width: 200px;
}

#searchBox {
  width: 400px;
  margin: auto;
}

.likeBtn {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.card li {
  list-style: none;
  padding-bottom: 10px;
  font-size: 13px;
}
.cards-grid {
  margin: 5px 10px;
}

/* media queries */
@media screen and (max-width: 600px) {
  /* search */
  .search {
    margin-bottom: 30px;
  }
  #searchBox {
    width: 100%;
    margin: auto;
  }

  /* cards */
  .cards-grid {
    margin: 0;
  }

  /* misc */
  .mb-sm-1 {
    margin-bottom: 0.5rem !important;
  }
  .mb-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-sm-4 {
    margin-bottom: 1rem !important;
  }
}
