/* basic page styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: #000 url('img/space-bg.png') no-repeat center center/cover;
	height: 100vh;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cursor-pointer {
	cursor: pointer;
}

.disable-text-selection {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* header styles */
header {
	height: 200px;
}

header img {
	width: 200px;
}

/* rest items */
.search {
	height: 100px;
}

#searchBox {
	display: block;
	padding: 10px;
	font-size: 20px;
	border: 0;
	border-radius: 5px;
	width: 40%;
	/* margin: auto; */
	outline: none;
}
.search-btn{
  width: 200px;
}

.likeBtn {
	cursor: pointer;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.card li {
	list-style: none;
	padding-bottom: 10px;
	font-size: 13px;
}

/* media queries */

@media screen and (max-width: 600px) {
	/* search */
	#searchBox {
		width: 80%;
	}
  .search{
    margin-bottom: 30px;
  }
  .search-btn{
  width: 100px;
}
}
